@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap");

:root {
  --color-background: #111111;
  --color-primary: #ffffff;
  --color-secondary: #add8e6;
  --color-highlight: #add8e6;
  --color-hover: #d4eaf2;

  font-family: "JetBrains Mono", monospace;
  /* font-family: "Fira Mono", monospace; */
}

html,
body {
  /* width: 100%; */
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2em 10vw;

  /* COLOR */
  background-color: var(--color-background);
  color: var(--color-primary);
}

h1,
h2,
h3,
p,
a {
  margin: 0.25rem 0;
}

h1 {
  font-weight: 400;
  font-size: 1.25rem;
}

p,
a {
  font-size: 0.8rem;
}

a {
  color: var(--color-secondary);
  text-decoration: none;
}

a:hover {
  color: var(--color-hover);
  /* border: 0.1rem solid var(--color-primary); */
  /* border-radius: 0.5rem; */
}

#bio {
  display: flex;
  flex-direction: column;
  padding-right: 0;
  /* border: 0.1rem solid var(--color-primary); */
  /* border-radius: 1rem; */
}

#bio > div {
  display: flex;
  flex-direction: row;
}

#bio > div > h1 {
  font-weight: 400;
  /* font-size: 1rem; */
}

#article {
  min-width: 300px;
  display: flex;
  flex-direction: column;
  max-width: unset;
  margin-top: 1rem;
  /* border: 0.1rem solid var(--color-primary); */
}

@media (min-width: calc(700px - 10vh )) {
  body {
    display: flex;
    flex-direction: row;
    padding: 5vh minmax(10vw, 20vw);
    /* padding: 5vh 20vw; */
  }
  #bio {
    display: flex;
    flex-direction: column;
    padding-right: 2rem;
  }
  #bio > div {
    flex-direction: column;
    align-items: unset;
  }
  #bio > div > p {
    margin: 0.5rem 0;
  }
  #articles {
    max-width: 500px;
    margin-top: 0;
  }
}
