@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --color-background: #111111;
  --color-primary: #ffffff;
  --color-secondary: #add8e6;
  --color-highlight: #add8e6;
  --color-hover: #d4eaf2;

  font-family: "JetBrains Mono", monospace;
}

html,
body {
  /* width: 100%; */
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  padding: 2rem;

  background-color: var(--color-background);
  color: var(--color-primary);
}
body > div {
  max-width: 500px;
}
body > div p {
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
p,
a {
  margin: 0.25rem 0;
}

h1, h2, h3 {
  font-weight: 400;
  font-size: 1.25rem;
}

p,
a {
  font-size: 0.8rem;
}

a {
  color: var(--color-secondary);
  text-decoration: none;
}

a:hover {
  color: var(--color-hover);
}

#title {
  margin: 2rem 0 1rem;
}
#title > p {
  font-family: "JetBrains Mono", monospace;
}
