@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --color-background: #111111;
  --color-primary: #ffffff;
  --color-secondary: #add8e6;
  --color-highlight: #add8e6;
  --color-hover: #d4eaf2;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 2rem;

  background-color: var(--color-background);
  color: var(--color-primary);
}


/* PARENT CONTAINERS */

header {
  display: flex;
  flex-direction: column;
  max-width: 550px;
  padding-top: 2rem;
}

main {
  max-width: 550px;
}
/* main > a {
  display: block;
  margin: 0;
  padding: 1rem 0;
  color: var(--color-primary);
}
main > a:hover {
  color: unset;
} */

main > div {
  padding: 1rem 0 0.5rem;
}
main > div:first-child {
  padding-top: 2rem;
}
main > div > * {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
main > div > p:nth-child(3) {
  font-family: "Poppins", sans-serif;
}

p,
a {
  font-family: "JetBrains Mono", monospace;
  margin: 0.25rem 0;
}

p,
a {
  font-size: 0.8rem;
}

a {
  color: var(--color-secondary);
  text-decoration: none;
}

a:hover {
  color: var(--color-hover);
}


/* HEADERS */

h1,
h2,
h3,
h1 > a,
h2 > a,
h3 > a  {
  color: var(--color-primary);
  font-family: "JetBrains Mono", monospace;
  font-weight: 400;

  margin: 0.5rem 0;
}

h1, /* The title will be the only h1 not to have a header link */
h1 > a,
h2 > a {
  font-size: 1.2rem;
}

h3 > a {
  font-size: 1rem;
}

h1 > a:hover,
h2 > a:hover,
h3 > a:hover {
  color: unset;
}


@media (max-aspect-ratio: 1/1) or (min-aspect-ratio: 3/4) {
  body > * {
    width: calc(100vw - 4rem);
  }
}
