@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --color-background: #111111;
  --color-primary: #ffffff;
  --color-secondary: #add8e6;
  --color-highlight: #add8e6;
  --color-hover: #d4eaf2;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  /* max-width: 550px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2rem 2rem;

  background-color: var(--color-background);
  color: var(--color-primary);
}


/* HEADER AND MAIN */

header {
  max-width: 550px;
  width: 100%;
  display: flex;
  flex: 1;
  padding-top: 2rem;
  justify-content: space-between;
}

header > div {
  max-width: 50%;
  width: 100%;
  display: flex;
  flex: 1;
  align-items: end;
  justify-content: space-between;
  justify-items: right;
}

header > h1 {
  margin: 0 0 0.5rem;
}

header > div > a {
  margin: 0 0 0.5rem;
}

main {
  max-width: 550px;
  width: 100%;
}

main > a {
  display: block;
  margin: 0;
  padding: 1rem 0 0.5rem;
}

main > a:first-child {
  padding-top: 2rem;
}

main > a > * {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  color: var(--color-primary);
}

main > a > p:nth-child(3) {
  font-family: "Poppins", sans-serif;
}


/* PARAGRAPH AND ANCHORS */

p,
a {
  font-family: "JetBrains Mono", monospace;
  margin: 0.25rem 0;
}

p,
a {
  font-size: 0.8rem;
}

a {
  color: var(--color-secondary);
  text-decoration: none;
}

a:hover {
  color: var(--color-hover);
}


/* HEADERS */

h1,
h2,
h3,
h1 > a,
h2 > a,
h3 > a  {
  color: var(--color-primary);
  font-family: "JetBrains Mono", monospace;
  font-weight: 400;

  margin: 0.5rem 0;
}

h1, /* The title will be the only h1 not to have a header link */
h1 > a,
h2 > a {
  font-size: 1.2rem;
}

h3 > a {
  font-size: 1rem;
}

h1 > a:hover,
h2 > a:hover,
h3 > a:hover {
  color: unset;
}


@media screen and (max-width: 550px) {
  body > * {
    width: calc(100vw - 4rem);
  }

  header {
    display: flex;
    justify-content: unset;
  }
  
  header > div {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: unset;
  }

  header > div > a {
    display: flex;
    justify-content: right;
  }

  /* Adjust vertical spacing of elements in portrait */
  header > h1 {
    margin-bottom: 0;
  }

  header > div > a:first-child {
    margin-top: 0.5rem;
  }

  header > div > a:last-child {
    margin-bottom: 0.5rem;
  }

  main > a:first-child {
    padding-top: 0.5rem;
  }
}
