@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --color-background: #111111;
  --color-primary: #ffffff;
  --color-secondary: #add8e6;
  --color-highlight: #add8e6;
  --color-hover: #d4eaf2;

  font-family: "JetBrains Mono", monospace;
}

html,
body {
  /* width: 100%; */
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-background);
  color: var(--color-primary);
}

#container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 2em;
}

h1,
h2,
h3,
p,
a {
  margin: 0.25rem 0;
}

h1 {
  font-weight: 400;
  font-size: 1.25rem;
}

p,
a {
  font-size: 0.8rem;
}

a {
  color: var(--color-secondary);
  text-decoration: none;
}

a:hover {
  color: var(--color-hover);
}

#bio {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  margin-right: 2em;
}

#bio > div {
  display: flex;
  flex-direction: row;
}

#title > a {
  margin: 0;
  color: var(--color-primary);
}

#articles {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  /* border: 0.1rem solid var(--color-primary); */
}

#articles > div {
  padding: 1em;
  cursor: pointer;
}

#articles > div:hover {
  background-color: rgba(255, 255, 255, 0.03);
  border-radius: 0.5rem;
}

#articles a {
  color: var(--color-primary);
}

#articles a:hover {
  color: unset;
}

#articles p {
  font-family: "Poppins", sans-serif;
}

@media (max-aspect-ratio: 1/1) or (max-width: 700px) {
  body {
    display: flex;
    justify-content: center;
  }
  #container {
    display: flex;
    flex-direction: column;
    padding: 2em;
  }
  #bio {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    margin-right: 0;
    padding: 0 1em;
  }
  #articles {
    margin-top: 1em;
  }
  #articles > div {
    padding: 1em;
  }
}
