{{define "articles"}}
<!-- <a href="/routing-with-go">
  <p>DD Mmm YYYY</p>
  <h1>Routing With Go</h1>
  <p>In order to link to different articles on my site, I needed to implement routes using Go.</p>
</a> -->
<a href="/self-hosted-website">
  <p>10 Dec 2023</p>
  <h1>Self-Hosted Website</h1>
  <p>Creating a self-hosted website with Ubuntu Server and Cloudflare tunnels</p>
  <!-- <p>I bought a Dell OptiPlex 3050 micro desktop and put an Ubuntu Server on which is hosting this website.</p> -->
</a>
{{end}}