<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Samuel Davis</title>
    <script
      src="https://unpkg.com/htmx.org@1.9.9"
      integrity="sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/static/index.css" />
  </head>

  <body>
    <div>
      <div id="header">
        <div>
          <h1>@davisssamuel</h1>
        </div>
        <div>
          <a href="https://github.com/davisssamuel">github</a>
          <a href="https://www.instagram.com/davisssamuel/">instagram</a>
          <a href="https://vsco.co/davisssamuel">vsco</a>
        </div>
      </div>
      <div id="articles">
        <!-- <p>articles</p> -->
        <a href="/routing-with-go">
          <p>05 Dec 2023</p>
          <h1>Routing With Go</h1>
          <p>In order to link to different articles on my site, I needed to implement routes using Go.</p>
        </a>
        <!-- <div hx-get="/self-hosted-website" hx-trigger="click" hx-target="#articles"> -->
        <a href="/self-hosted-website">
          <p>29 Nov 2023</p>
          <h1>Self-Hosted Website</h1>
          <p>I bought a Dell OptiPlex 3050 and put an Ubuntu Server on it to host this website.</p>
        </a>
      </div>
    </div>
  </body>
</html>
