<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Samuel Davis</title>
    <link rel="stylesheet" href="/static/index.css" />
  </head>

  <body>
    <div id="container">
      
      <div id="bio">
        <div id="title">
          <a href="/">
              <h1>@davisssamuel</h1>
          </a>
          <!-- <p>Computer science student at Cedarville University</p> -->
        </div>
        <a href="https://github.com/davisssamuel">github</a>
        <a href="https://www.instagram.com/davisssamuel/">instagram</a>
        <a href="https://vsco.co/davisssamuel">vsco</a>
      </div>
      <div id="articles">
        <div>
          <a href="/routing-with-go">
            <p>5 Dec 2022</p>
            <h1>Routing With Go</h1>
            <p>
              I needed to implement routes on my website in order to link to different articles.
            </p>
          </a>
      </div>
        <div>
          <a href="/self-hosted-website">
            <p>29 Nov 2022</p>
            <h1>Self-Hosted Website</h1>
            <p>
              I bought a Dell OptiPlex 3050 and put an Ubuntu Server on it to host this website.
            </p>
          </a>
        </div>
      
      </div>
    </div>
  </body>
</html>
