<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Self-Hosted Website</title>
    <link rel="stylesheet" href="/static/article.css" />
  </head>

  <body>
    <div>
      <a href="/" id="nav">&larr; articles</a>
      <div id="title">
        <p>29 Nov 2023</p>
        <h1>Self-Hosted Website</h1>
      </div>
      <p>I bought a Dell OptiPlex 3050 and put an Ubuntu Server on it to host this website.</p>
    </div>
  </body>
</html>
