<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Self-Hosted Website</title>
    <link rel="stylesheet" href="/static/articles.css" />
  </head>

  <body>
    <!-- <div id="bio">
      <div id="title">
        <a href="/templates/index.html">
          <h1>@davisssamuel</h1>
        </a>
      </div>
      <a href="https://github.com/davisssamuel">github</a>
      <a href="https://www.instagram.com/davisssamuel/">instagram</a>
      <a href="https://vsco.co/davisssamuel">vsco</a>
    </div> -->

    <div id="article">
      <h1>Self-Hosted Website</h1>
      <p>I bought a Dell OptiPlex 3050 and put an Ubuntu Server on it to host this website.</p>
    </div>
  </body>
</html>
